* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    width: 100%;
    background-color: #f0f0f0;
}

.hidden {
    display: none;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: white;
    padding: 20px;
}

.content-wrapper {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header img {
    width: 50%;
    max-width: 150px;
}

.stepper {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    list-style: none;
    padding: 0;
}

.stepper .step {
    padding: 10px 20px;
    background-color: #f1f1f1;
    margin: 0 5px;
    border-radius: 5px;
}

.stepper .step.active {
    background-color: #007bff;
    color: white;
}

main {
    text-align: center;
    width: 100%;
}

main h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

main p {
    color: #777;
    font-size: 14px;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

.button:hover {
    background-color: #0056b3;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

footer a {
    color: white;
    text-decoration: none;
    background-color: #007bff;
    padding: 10px 20px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer a:hover {
    background-color: #0056b3;
}

@media (max-width: 600px) {
    .content-wrapper {
        width: 95%;
        height: auto;
        padding: 10px;
    }

    main h1 {
        font-size: 20px;
    }

    main p {
        font-size: 12px;
    }

    .button {
        padding: 8px;
    }

    footer a {
        padding: 8px;
    }

    header img {
        width: 80%;
    }
}
